@import "tailwindcss";

/* for light mode */
@variant light (&:where(.light, .light *));


body {
    background-color: #393939; 
    color: #ffffff;
    transition: background-color 0.3s ease; /* smooth fading transitions */
}

html.light body {
    background-color: #ECEFF1;
    color: #000000;
}